html {
  font-size: 100%;
}
body {
  background: #777799;
  line-height: 1.5;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color:black;
  margin:.5rem;
}
#recorder {
	max-width: 30rem;
	border: 1px solid black;
	padding: 1.5rem;
	background: #f0f0f0;
	margin: auto;
}


#recorder table {
	margin: 1rem 0rem;
}


#controls {
	line-height: 100%;
}
#promptcontrols div {
	display: inline;
}
#promptcontrols  {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#audio {
	height: 4.5rem;
}

#recorder button {
  height: 3rem;
  max-width: 9rem;
  min-width: 6rem;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
  padding: 0rem 1.5rem;
}
#recorder button:enabled {
	background: #9C1F12;
	color: #ffffff;
	font-weight: bold;
}
#recorder button:disabled {
  background: #f6f6ft;
}
#recorder button:hover:enabled, button:focus:enabled {
	background: #a81303;
}


#controls div {
	display: inline;
}
@keyframes pulsate {
    0% { opacity: 1; }
    50% { opacity: .25; }
    100% { opacity: 1; }
}
#controls .pulsating {
  animation: pulsate 2s ease-out infinite;
}


select:enabled {
	font-size: 120%;
	background: #9C1F12;
	color: #ffffff;
}


/*#recorder  button {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
#recorder button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}
#recorder button::-moz-focus-inner {
  border: 0;
}
#recorder button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
#recorder button:disabled {
  pointer-events: none;
  background: lightgray;
}
#recorder button .good {
  background: lightgreen;
}
#recorder button:first-child {
  margin-left: 0;
}
*/

#recorder ol {
	margin: 1rem 0 0 0;
	padding: 0;
}
#recorder  li {
  list-style: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  display: flex;
}
#recorder audio {
  display: block;
  width: 100%;
  margin-top: 0rem;
  height: 3rem;
}


#prompt {
	font-weight: bold;
	padding-left: 1rem;
	padding-bottom: .5rem;
}
#meaning {
	padding-left: 1rem;
}


